<%= link_to image_tag(avatar_url(user), :class => "avatar"), user_path(user.to_param) %>
<%= link_to user.name, user_path(user.to_param) %>
<% if user.committee_member? -%><span class="text-warning"><em>(Committee member)</em></span><% end -%>
