<p>Another great proposal has been added from <%= @proposal.proposer.name %>.</p>

<p>Here it is:</p>

<h3><%= @proposal.title %></h3>

<%= markdown @proposal.description %>

<%= link_to 'Read it on the site', proposal_url(@proposal) %>