<% proposal = proposal_listing %>

<%= content_tag_for :li, proposal do %>
    <%= link_to proposal.title, proposal, :class => 'title' %>

    <br>
    <span class="age"><%= proposal_update_information proposal %></span>
<% end %>