#moderator_dashboard {
  overflow: hidden;
  border: none; /*1px solid #666;*/
  margin-bottom: 40px;
  margin-top: 10px;
  background: whitesmoke;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 20px;


  #options {
    width: 100%;
    clear: both;
    text-align: right;

    label {
      line-height: 30px;
      /*float: right;*/
      display: inline;
      margin-right: 10px;
    }

    select {
      /*float: right;*/
      margin-right: 40px;
      display: inline;
    }
  }

  #graph {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
  }

  #proposals_since_selected_time, #suggestions_since_selected_time {
    width: 48%;
    padding-left: 5px;
    padding-right: 5px;

    .title {
      font-weight: bold;
      font-size: 1.2em;
    }

    .count, .atom {
      font-size: 0.8em;
    }

    hr {
      margin-top: 2px;
      margin-bottom: 5px;
      height: 1px;
      background: #999;
    }

    .proposals a.proposer, .suggestions a.author {
      color: #666;
      font-weight: bold;
      font-size: 0.8em;
    }
  }

  #proposals_since_selected_time { float: left; }
  #suggestions_since_selected_time { float: right; }

  .centered { text-align: center; }
}
