.proposals, .selections {
  list-style-image: image-url('mini-ruby.png');
  margin-top: 10px;

  li.proposal {
    margin-bottom: 15px;
    padding-left: 5px;

    .title {
      font-size: 20px;
    }
  }
}

.selections, .nominated {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move;

  .proposal {
    &:hover {
      background-color: #eee;
    }
  }
}

#selections {
  .affix {
    padding: 0 25px;
    border: 1px solid #ccc;
    background-color: white;
  }

  .selections {
    padding-bottom: 15px;

    .proposal {
      .title {
        font-size: 16px;
      }

      .age {
        display: none;
      }
    }
  }
}

#suggestions {
  h2 {
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.add-suggestion {
}

.suggestions {
  list-style: none;
  margin-left: 0;
  margin-bottom: 64px;

  p {
    text-align: left;
  }

  .suggestion {
    margin-bottom: 30px;
    .author {
      img {
        float: left;
        margin-right: 10px;
      }
    }

    ol,ul {
      list-style-position: inside;
    }
  }
}