.proposals, .selections {
  list-style-image: image-url('mini-ruby.png');
  margin-top: 10px;

  li.proposal {
    margin-bottom: 15px;
    padding-left: 5px;

    .title {
      font-size: 20px;
    }
  }
}

#suggestions {
  h2 {
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.add-suggestion {
  //margin-top: 64px;
}

.suggestions {
  list-style: none;
  margin-left: 0;
  margin-bottom: 64px;

  p {
    text-align: left;
  }

  .suggestion {
    margin-bottom: 30px;
    .author {
      img {
        float: left;
        margin-right: 10px;
      }
    }

    ol,ul {
      list-style-position: inside;
    }
  }
}
